<? $contextUrl = $this->params["contextUrl"]; ?>

<footer>
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="column">
                <h4>Information</h4>
                <ul>
                    <li><a href="<?=$contextUrl;?>information">About Us</a></li>
                    <li><a href="<?=$contextUrl;?>information/policy">Policy Privacy</a></li>
                    <li><a href="<?=$contextUrl;?>information/conditions">Terms and Conditions</a></li>
                    <li><a href="<?=$contextUrl;?>information/shipping">Shipping Methods</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="column">
                <h4>Customer Service</h4>
                <ul>
                    <li><a href="<?=$contextUrl;?>contact">Contact Us</a></li>
                    <li><a href="<?=$contextUrl;?>contact">Skype: ikea-world</a></li>
                    <li><a href="<?=$contextUrl;?>contact">Telp: 087825376xxx</a></li>
                    <li><a href="<?=$contextUrl;?>contact">Email: info@ikea-world.com</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="column">
                <h4>Follow Us</h4>
                <ul class="social">
                    <li><a href="#">Google Plus</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">RSS Feed</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-inverse text-center copyright">
        Copyright &copy; 2015 Ikea-World All right reserved
    </div>
</footer>