<? $contextUrl = $this->params["contextUrl"]; ?>

<div class="col-lg-3 col-md-3 col-sm-12">
    <?=$this->getParam("bestSeller_content");?>
</div>

<div class="clearfix visible-sm"></div>

<!-- Catalogue -->
<div class="col-lg-9 col-md-9 col-sm-12">
    <div class="col-lg-12 col-sm-12">
        <span class="title uppercase"><?=Language::getNewsLabel('news');?></span>
    </div>

    <? foreach($this->params["items"] as $item) { ?>
    <div class="col-lg-12 col-sm-12">
        <h4><?=$item->getTitle();?></h4>

        <p><?=substr(strip_tags($item->getDescription()), 0, 200);?></p>

        <p><a href="<?=$contextUrl;?>news/details/<?=$item->getId();?>"><?=Language::getNewsLabel('details');?></a></p>
        <hr/>
    </div>

    <? }; ?>

    <div class="text-center" style="clear: left;">
        <?=$this->getParam("paging_content");?>
    </div>
</div>
<!-- End Catalogue -->
