<? $contextUrl = $this->params["contextUrl"]; ?>

<div class="col-lg-3 col-md-3 col-sm-12">
    <?=$this->getParam("bestSeller_content");?>
</div>

<div class="clearfix visible-sm"></div>

<div class="col-lg-9 col-md-9 col-sm-12">
    <div class="col-lg-12 col-sm-12">
        <span class="title uppercase"><?=Language::getNewsLabel('news');?></span>
    </div>

    <? $model = $this->getParam("model");
        if($model) { ?>
    <div class="col-lg-12 col-sm-12">
        <h4><?=$model->getTitle();?></h4>

        <p><?=$model->getDescription();?></p>
    </div>

    <? }; ?>


</div>