<div class="col-xs-12">
    <link href="/css/admin/editor/editor.css" rel="stylesheet">
    <? $model = $this->getParam("model");?>

    <div class="widget-box">
        <div class="widget-title">
								<span class="icon">
									<i class="fa fa-th-list"></i>
								</span>
            <h5>Add/Edit</h5>

        </div>
        <div class="widget-content nopadding">
            <form action="/admin/categories/update/<?=@$model['id'];?>" method="post" class="form-horizontal action-form">
                <input type="hidden" name="parent_id" value="<?=@$model['parent_id'];?>"/>

                <div class="tabbable inline" style="margin: 5px 5px 0px 5px;">
                    <ul class="nav nav-tabs tab-bricky" id="myTab">
                        <? $index=0; foreach(Language::getSupported() as $lang) { ?>
                        <li class="<?=$index==0?'active':'';?>">
                            <a data-toggle="tab" href="#tab<?=$index;?>"><?=$lang;?></a>
                        </li>
                        <? $index++;}?>
                    </ul>

                    <div class="tab-content">
                        <? $index=0; foreach(Language::getSupported() as $lang) { ?>
                        <div id="tab<?=$index;?>" class="tab-pane <?=$index==0?'active':'';?>">
                            <div class="widget-box">
                                <div class="widget-content nopadding">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-2 control-label">Name</label>

                                        <div class="col-sm-9 col-md-9 col-lg-10">
                                            <input type="text" class="form-control input-sm" name="name_<?=$lang;?>"
                                                   value="<?=@$model['name_'.$lang];?>"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <? $index++;}?>
                    </div>

                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    or <a class="text-danger" href="#">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>