<div class="col-xs-12">
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="widget-box">
            <div class="widget-title">
								<span class="icon">
									<i class="fa fa-arrow-right"></i>
								</span>
                <h5>Refferers</h5>
            </div>
            <div class="widget-content nopadding">
                <div class="list-group list-categ">
                    <a href="#" class="list-group-item">0.1</a>
                    <div class="level-2">
                        <a href="#" class="list-group-item">1.1</a>
                        <a href="#" class="list-group-item">1.2</a>

                        <div class="level-3">
                            <a href="#" class="list-group-item">2.1</a>
                            <a href="#" class="list-group-item">2.2</a>
                            <a href="#" class="list-group-item">2.3</a>
                        </div>
                        <a href="#" class="list-group-item">1.3</a>
                        <a href="#" class="list-group-item">1.4</a>
                    </div>
                    <a href="#" class="list-group-item">0.2</a>
                    <a href="#" class="list-group-item">0.3</a>
                    <a href="#" class="list-group-item">0.4</a>
                    <a href="#" class="list-group-item">0.5</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4">
        <div class="widget-box">
            <div class="widget-title">
								<span class="icon">
									<i class="fa fa-file"></i>
								</span>
                <h5>Most Visited Pages</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Page</th>
                        <th>Visits</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="#">Shopping cart</a></td>
                        <td>9440</td>
                    </tr>
                    <tr>
                        <td><a href="#">Blog</a></td>
                        <td>6974</td>
                    </tr>
                    <tr>
                        <td><a href="#">jQuery UI tips</a></td>
                        <td>5377</td>
                    </tr>
                    <tr>
                        <td><a href="#">100+ Free Icon Sets</a></td>
                        <td>4990</td>
                    </tr>
                    <tr>
                        <td><a href="#">How to use a Google Web Tools</a></td>
                        <td>4834</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>