<div class="col-xs-12">
    <div class="widget-box">
        <div class="widget-title">
								<span class="icon">
									<i class="fa fa-th"></i>
								</span>
            <h5>Page Content</h5>
            <div class="buttons">
                <a title="Add" class="btn" href="/admin/pageContent/add"><i class="fa fa-plus"></i> <span class="text">Add</span></a>
            </div>
        </div>

        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Content Key</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <? foreach($this->params['items'] as $item) { ?>
                <tr>
                    <td><?=$item['content_key'];?></td>
                    <td>
                        <? foreach(Language::getSupported() as $lang) { ?>
                        <div class="row">
                            <div class="col-sm-10"><?=$lang;?></div>
                            <div class="col-sm-2">
                                <? if($item['title_'.$lang]) { ?>
                                <i class="fa fa-check available"></i>
                                <? } else { ?>
                                <i class="fa fa-minus not-available"></i>
                                <?}?>
                            </div>
                        </div>
                        <?}?>
                    </td>
                    <td>
                        <? foreach(Language::getSupported() as $lang) { ?>
                        <div class="row">
                            <div class="col-sm-10"><?=$lang;?></div>
                            <div class="col-sm-2">
                                <? if($item['content_'.$lang]) { ?>
                                <i class="fa fa-check available"></i>
                                <? } else { ?>
                                <i class="fa fa-minus not-available"></i>
                                <?}?>
                            </div>
                        </div>
                        <?}?>
                    </td>
                    <td>
                        <a class="btn btn-default btn-sm" href="/admin/pageContent/edit/<?=$item['content_key'];?>"><i class="fa fa-edit"></i> Edit</a>
                        <a class="btn btn-default btn-sm" href="/admin/pageContent/delete/<?=$item['content_key'];?>"><i class="fa fa-trash-o"></i> Delete</a>
                    </td>
                </tr>
                <?}?>
                </tbody>
            </table>
        </div>
    </div>
</div>