<style>
    .icheckbox_flat-blue {
        display: block;
    }
</style>
<? $pb = $this->getParam("paramBuilder"); ?>

<div class="col-xs-12">
    <div class="widget-box">
        <div class="widget-title">
            <h5>Filter</h5>
        </div>
        <div class="widget-content">
            <form action="/admin/products" method="GET">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            Art Number: <input class="form-control input-sm" type="text" name="artNumber" value="<?=htmlspecialchars($pb->get('artNumber'));?>">
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            Published :<input type="checkbox" class="form-control input-sm" name="published" <?=$pb->get('published')? 'checked':'';?>/>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            Available :<input type="checkbox" class="form-control input-sm" name="available" <?=$pb->get('available')? 'checked':'';?>/>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                </div>
            </form>
        </div>
    </div>


    <div class="widget-box">
        <div class="widget-title">
								<span class="icon">
									<i class="fa fa-th"></i>
								</span>
            <h5>Products</h5>
        </div>
        <div class="widget-content nopadding dataTables_wrapper">

            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ArtNumber</th>
                    <th>Price</th>
                    <th>Published</th>
                    <th>Available</th>
                    <th>Designer</th>

                    <th>Title</th>
                    <th>Short description</th>
                    <th>Description</th>
                    <th>Size</th>
                    <th>Packing</th>
                    <th>Instruction</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <? foreach($this->getParam("products") as $product) { ?>
                <tr class="gradeX">
                    <td><?=getPreparedArtNumber($product["art_number"]);?></td>
                    <td><?=$product["price"];?></td>
                    <td>
                        <div class="col-sm-4 col-lg-2">
                            <? if($product['published']) { ?>
                            <i class="fa fa-check available"></i>
                            <? } else { ?>
                            <i class="fa fa-minus not-available"></i>
                            <?}?>
                        </div>
                    </td>
                    <td class="center">
                        <div class="col-sm-4 col-lg-2">
                            <? if($product['available']) { ?>
                            <i class="fa fa-check available"></i>
                            <? } else { ?>
                            <i class="fa fa-minus not-available"></i>
                            <?}?>
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-4 col-lg-2">
                            <? if($product['designer']) { ?>
                            <i class="fa fa-check available"></i>
                            <? } else { ?>
                            <i class="fa fa-minus not-available"></i>
                            <?}?>
                        </div>
                    </td>
                    <td>
                        <? foreach(Language::getSupported() as $lang) { ?>
                        <div class="col-sm-7 col-lg-8"><?=$lang;?></div>
                        <div class="col-sm-4 col-lg-2">
                            <? if($product['title_'.$lang]) { ?>
                            <i class="fa fa-check available"></i>
                            <? } else { ?>
                            <i class="fa fa-minus not-available"></i>
                            <?}?>
                        </div>
                        <?}?>
                    </td>
                    <td>
                        <? foreach(Language::getSupported() as $lang) { ?>
                        <div class="col-sm-7 col-lg-8"><?=$lang;?></div>
                        <div class="col-sm-4 col-lg-2">
                            <? if($product['short_description_'.$lang]) { ?>
                            <i class="fa fa-check available"></i>
                            <? } else { ?>
                            <i class="fa fa-minus not-available"></i>
                            <?}?>
                        </div>
                        <?}?>
                    </td>
                    <td>

                        <? foreach(Language::getSupported() as $lang) { ?>
                        <div class="col-sm-7 col-lg-8"><?=$lang;?></div>
                        <div class="col-sm-4 col-lg-2">
                            <? if($product['description_'.$lang]) { ?>
                            <i class="fa fa-check available"></i>
                            <? } else { ?>
                            <i class="fa fa-minus not-available"></i>
                            <?}?>
                        </div>
                        <?}?>
                    </td>
                    <td>
                        <? foreach(Language::getSupported() as $lang) { ?>
                        <div class="col-sm-7 col-lg-8"><?=$lang;?></div>
                        <div class="col-sm-4 col-lg-2">
                            <? if($product['size_'.$lang]) { ?>
                            <i class="fa fa-check available"></i>
                            <? } else { ?>
                            <i class="fa fa-minus not-available"></i>
                            <?}?>
                        </div>
                        <?}?>
                    </td>
                    <td>
                        <? foreach(Language::getSupported() as $lang) { ?>
                        <div class="col-sm-7 col-lg-8"><?=$lang;?></div>
                        <div class="col-sm-4 col-lg-2">
                            <? if($product['packing_'.$lang]) { ?>
                            <i class="fa fa-check available"></i>
                            <? } else { ?>
                            <i class="fa fa-minus not-available"></i>
                            <?}?>
                        </div>
                        <?}?>
                    </td>
                    <td>
                        <? foreach(Language::getSupported() as $lang) { ?>
                        <div class="col-sm-7 col-lg-8"><?=$lang;?></div>
                        <div class="col-sm-4 col-lg-2">
                            <? if($product['instruction_'.$lang]) { ?>
                            <i class="fa fa-check available"></i>
                            <? } else { ?>
                            <i class="fa fa-minus not-available"></i>
                            <?}?>
                        </div>
                        <?}?>
                    </td>
                    <td style="width: 100px;">
                        <a class="btn btn-default btn-sm" href="/admin/products/edit/<?=$product['id'];?>"><i
                                class="fa fa-edit"></i></a>
                        <a class="btn btn-default btn-sm" href="/admin/products/delete/<?=$product['id'];?>"><i
                                class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                <? } ?>

                </tbody>
            </table>

            <?=$this->getParam("paging_content");?>
        </div>
    </div>
</div>