<? $model = $this->getParam("model"); ?>
<div class="col-lg-3 col-md-3 col-sm-12">

    <!-- RECENT PRODUCT -->
    <div class="col-lg-12 col-md-12 col-sm-12 visible-lg visible-md">
        <?=$this->getParam("recent_product_content");?>
    </div>
    <!-- End RECENT PRODUCT -->

</div>

<div class="clearfix visible-sm"></div>

<!-- Cart -->
<div class="col-lg-9 col-md-9 col-sm-12">
    <div class="col-lg-12 col-sm-12">
        <span class="title"><?=$model->getTitle();?></span>
    </div>
    <div class="col-lg-12 col-sm-12 hero-feature">
        <?=$model->getContent();?>
    </div>
</div>

