<? $contextUrl = $this->params["contextUrl"]; ?>
<div class="col-lg-3 col-md-3 col-sm-12">

    <!-- OUR LOCATION -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="no-padding">
            <span class="title">OUR LOCATION</span>
        </div>
        Ikea Online Shop<br/>
        Street address<br/>
        Store Town<br/>
        ZIP
        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=cihanjuang&amp;sll=37.0625,-95.677068&amp;sspn=56.637293,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Cihanjuang.,+Cimahi+Utara,+Cimahi,+Jawa+Barat,+Indonesia&amp;t=m&amp;z=14&amp;ll=-6.858623,107.5664&amp;output=embed"></iframe>
        <br/>
        <small><a
                href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=cihanjuang&amp;sll=37.0625,-95.677068&amp;sspn=56.637293,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Cihanjuang.,+Cimahi+Utara,+Cimahi,+Jawa+Barat,+Indonesia&amp;t=m&amp;z=14&amp;ll=-6.858623,107.5664"
                style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
    <!-- End OUR LOCATION -->

</div>

<div class="clearfix visible-sm"></div>
<? $content = $this->getParam('content');?>
<div class="col-lg-9 col-md-9 col-sm-12">
    <div class="col-lg-12 col-sm-12">
        <span class="title uppercase"><?=Language::getMenuLabel("contact_us");?></span>
    </div>
    <div class="col-lg-12 col-sm-12 hero-feature">
        <div>
            <?=$content->getContent();?>
        </div>
        <form action="<?=$contextUrl;?>contact/send/" method="post">
            <table class="table table-bordered tbl-checkout">
                <tbody>
                <tr>
                    <td><?=Language::getCheckoutLabel("first_name");?></td>
                    <td>
                        <input type="text" name="firstName" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td><?=Language::getCheckoutLabel("last_name");?></td>
                    <td>
                        <input type="text" name="lastName" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" name="email" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td><?=Language::getCheckoutLabel("telephone");?></td>
                    <td>
                        <input type="text" name="telephone" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td><?=Language::getMainLabel("message");?></td>
                    <td colspan="3">
                        <textarea name="message" class="form-control" rows="5"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="btn-group btns-cart">
                <button type="submit" class="btn btn-primary"><?=Language::getMainLabel("continue");?></button>
            </div>
        </form>
    </div>
</div>